body {
    background-color: #ffcc008f;
}

.albulm {
    width: 100%;
    height: 80vh;

    position: absolute;
    top: 16%;
}

img {
    object-fit: cover;
    width: 190px;
    height: 160px;
}

.photo-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#feedback {
    font-size: 1.4em;
}

#selectable .ui-selecting {
    background:  #4190dec2;
    transition: 1.2s;
}

#selectable .ui-selected {
    background:  #4190dec2;
    color: white;
    scale: 1.2;
    transition: 1.3s;
}

#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 70%;
    height: auto;

    margin-left: 15%;
    transition: 1.3s;
}

#selectable li {
    margin: 3px;
    padding: 1px;
    float: left;
    width: 190px;
    height: 160px;
    font-size: 4em;
    text-align: center;
    padding: 20px;

    transition: 1.3s;
}